[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = a moving obstructed Captcha solution in google apps
[access "refs/*"]
	owner = group user/avishalom
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/avishalom
	label-Verified = -1..+1 group user/avishalom
	push = group user/avishalom
	read = group user/avishalom
	rebase = group user/avishalom
	removeReviewer = group user/avishalom
	submit = group user/avishalom
[access "refs/heads/*"]
	create = group user/avishalom
	push = +force group user/avishalom
	pushMerge = group user/avishalom
	read = group user/avishalom
[access "refs/tags/*"]
	push = group user/avishalom
	push = +force group user/avishalom
